@tailwind base;
@tailwind components;
@tailwind utilities;  

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Geist Mono';
  background-color: rgb(251, 219, 219);
}

.landing{
  border-radius: 100px 100px 0px 0px;
}

.box{
  border-radius: 80px 20px 20px 20px;
}

.navbar{
  background-color: rgb(249, 187, 187);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

